style.css                                                                  
       style
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 40px;
    text-align: left;
    background-color: orangered;

  }

